version: '3.8'

services:
  app:
    container_name: nest-api-dev
    build:
      context: .
      dockerfile: Dockerfile
    command: npm run start:dev
    ports:
      - "3000:3000"
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true  
      - WATCHPACK_POLLING=true
      - DATABASE_URL=file:./dev.db
    networks:
      - nest-network

networks:
  nest-network: